@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@font-face {
  font-family: 'Canela';
  src: url('./font/Canela-Regular.woff2') format('woff2'),
      url('./font/Canela-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans';
  src: url('./font/ProductSans-Regular.woff2') format('woff2'),
      url('./font/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Product Sans';
}
.logo{
  font-weight: 600;
}

h1,.logo{
  font-family: 'Canela';
}
body{
  background-color: #FEFAF6;
  padding-top: 90px;
}
/* .link-style{
text-decoration: none;
color: black;
} */
.nav .nav-item .link-style{
  text-decoration: none;
}
.img-style{
  border-radius:20px;
  width:100%
}
.icon-type-img h6{
 font-size: 20px;
}

.store-img{
  border-radius:20px;
  height: 600px;
  width: 100%;
  object-fit: cover;
}
.information-img-style{
  background-color: #FAF3EB;
}
.information-img-style img{
  border-radius:70%;
  height: 40px;
  width: 40px;
  justify-content: center;
  
}
.information-img-style p{
  font-size: 12px;
}

.join-family-img-style{
  border-radius: 20px;
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.circle-box{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-box img{
  padding: 8px;
}
.feature-lines{
  line-height: 1.7;
  color: #666;
  font-size: 18px !important;
}
.section-sub-heading{
  font-size: 14px;
  text-align: center;
  color: gray;
}
.our-stores{
  position: absolute;
  background-color: #fff;
  width: 80%;
  bottom: -50px;
  left: 10%;
  right: 10%;
  overflow: hidden;
  border-radius: 10px;
}
.store-bottom-contact{
  color: #fff;
  padding: 7px;
}
.store-bottom-contact.tel{
  background-color: #F38181;
}
.store-bottom-contact.wht{
  background-color: #01B8A9;
}
.our-store-img{
  width: 25px;
  margin-right: 10px;
}
.join-section{
  list-style-type: none;
  padding: 0;
}
.join-section li{
  padding: 10px 8px ;
  border-bottom: 2px solid green;
}
.join-section li .li-number{
  margin-right: 8px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  line-height: 35px;
  color: #fff;
}
.fg-main:nth-child(even){
  margin-top: 70px;
}
.fg-sec{
  border-radius: 30px;
  overflow: hidden;
  height: 400px;
}
.fg-sec img{
  object-fit: cover;
    width: 100%;
    height: 100%;
}
.contact-section{
  background-color: #FAF3EB;
}
.navbar-fixed{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #FEFAF6;
  z-index: 999;
}

.bg-r-pink,.join-section li:nth-child(2) .li-number{
  background-color: #F38181;
}
.bg-d-blue{
  background-color: #72C9CE
}
.bg-l-blue{
  background-color: #A5C0FF;
}
.bg-purple,.join-section li:nth-child(1) .li-number{
  background-color: #AA96DA;
}
.bg-sky-blue,.join-section li:nth-child(3) .li-number{
  background-color: #68D1FF;
}
.bg-l-orange,.join-section li:nth-child(4) .li-number{
  background-color: #F9C087;
}
.bg-pink,.join-section li:nth-child(5) .li-number{
  background-color: #FBAEAE;
}

.join-section li:nth-child(2){
  border-color: #F38181;
}
.join-section li:nth-child(1){
  border-color: #AA96DA;
}
.join-section li:nth-child(3){
  border-color: #68D1FF;
}
.join-section li:nth-child(4){
  border-color: #F9C087;
}
.join-section li:nth-child(5){
  border-color: #FBAEAE;
}

.btn-submit{
  background-color: #121C26;
  color: #fff;
}

input{
  border: none !important;
  background-color: transparent !important;
  border-bottom: 2px solid #666 !important;
  border-radius: 0 !important;
}